:root {
    color-scheme: light dark;
}

body {
    width: 200px;
    padding: 10px;

    font-family: system-ui;
    text-align: center;
}

label {
    vertical-align: middle;
}

input {
    vertical-align: middle;
}

#speed {
    display: block;
}

.controls {
    display: flex;
    flex-direction: column;
}

.control {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.controlName {
    display: block;
}

.controlExplain {
    font-size: small;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
