:root {
    color-scheme: light dark;
}

body {
    width: 200px;
    padding: 10px;

    font-family: system-ui;
    text-align: center;
}

label {
    vertical-align: middle;
}

input {
    vertical-align: middle;
}

#speed {
    display: block;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
